<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      
      autoReload="true"
      throwExceptions="false">
  <variable name="logFolderName" value="logs" />
  <targets>
    <!--<target xsi:type="File"
              name="logfile"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${var:logFolderName}\logfile.log"
              keepFileOpen="false"
              archiveFileName="${var:logFolderName}\logfile_${shortdate}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="30" />-->
    <target xsi:type="File" 
            name="logfile" 
            keepFileOpen="false"
            createDirs="true"
            fileName=".\logs\Neolant.ASRM.Terminal.log"            
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="ColoredConsole" 
            name="consoleTarget"  
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  <rules>    
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
  </rules>
</nlog>